@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.centerDiv {
  text-align: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  background: linear-gradient(
    rgb(173, 49, 122),
    rgb(239, 102, 77),
    rgb(239, 102, 255),
    rgb(15, 120, 115)
  );
}

.card {
  margin-top: 250px;
  background: transparent;
  width: 100%;
  padding-top: 50px;
  max-width: 400px;
  height: 45vh;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px;
}
#inputValue {
  padding: 10px 20px 10px 20px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid green;
}
.centerDiv button {
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: green;
}
.centerDiv p {
  font-size: 24px;
  font-weight: 400;
}
.centerDiv p span {
  font-size: 24px;
  font-weight: 700;
  font-family: "Clicker Script", cursive;
}
.centerDiv h1 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 10px;
}

.centerDiv #Result {
  font-size: 24px;
  font-weight: 700;
  max-width: 100%;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  background-color: white;
}
@media (max-width: 500px) {
  .centerDiv h1 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
  }
  .card {
    margin: 150px 30px 100px 30px;
    background: transparent;
    width: 100%;
    padding-top: 50px;
    max-width: 500px;
    height: 50vh;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px;
  }
  .centerDiv #Result {
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
    max-width: 100%;
    margin: 15px 20px 20px 20px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #23b4c9;
  }
}
